/* body p {
  background-color: yellow;
}

h2 {
  font-size: 5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

p.rouge {
  color: red;
}
div.code,
div.exemple {
  font-family: Courier;
}
ol li {
  background-color: yellow;
}

/* test :nth-child() */

p:nth-child(2) {
  color: red;
}

input[type="text"]:focus {
  background-color: rgb(193, 193, 245);
}

img {
  width: 15rem;
  border: 1rem solid transparent;
}
img:hover {
  border: 1rem solid black;
}
